<ion-app>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding" color="medium">
      <ion-list lines="none">
        <ion-item>
          <ion-label>Página inicial</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Cadastrar amigo para adoção</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Institucional/Fale conosco</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar color="medium">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title color="tertiary">Adote um amigo!</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      Toque no botão de menu lateral para mais opções.
      <ion-header collapse="condense">
        <ion-toolbar>
          <ion-title size="large">Header</ion-title>
        </ion-toolbar>
      </ion-header>
      <virtual-scroll-element class="ion-content-scroll-host">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Amigos > Cães</ion-card-subtitle>
            <ion-card-title><ion-icon name="paw"></ion-icon> Cães</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            No nosso app você encontra diferentes tipos de cães para adoção, clique no card para ver as fotos do seu próximo melhor amigo!
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Amigos > Gatos</ion-card-subtitle>
            <ion-card-title><ion-icon name="paw"></ion-icon> Gatos</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Quem não gosta do ronrom vindo de um gatinho? Veja as opções de felinos disponíveis para levar pra casa e dar muito amor.
          </ion-card-content>
        </ion-card>
      </virtual-scroll-element>
    </ion-content>
  </div>
</ion-app>

